* {
	box-sizing: border-box;
}

body {
	background-color: #111;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	margin: 0;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	max-width: 400px;
}

.link-container {
	display: flex;
	flex-direction: column;
}

.main-link {
	text-align: center;
	display: block;
	color: #fff;
	text-decoration: none;
	font-size: 6.25rem;
	font-weight: 700;
	margin: 20vh 0;
	transition: transform 0.5s ease-in-out;
}

.main-link:hover {
	text-decoration: underline;
}

.square {
	background-color: #1d1d1d;
	border: 1px solid #1d1d1d;
	width: 16px;
	height: 16px;
	margin: 2px;
	box-shadow: 0 0 2px #000;
	transition: 1.5s ease;
}

.square:hover {
	transition-duration: 0s;
}
